# object files
*.o
*.obj

# compiled binary
sslscan
sslscan.exe

# debian build of openssl
openssl-*/
openssl_*
libcrypto*
libssl*

# custom openssl build
openssl/
.openssl.is.fresh
.openssl_mingw.is.fresh

# custom zlib build for Windows
zlib_mingw/